* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(127, 16, 132);
  section.wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    section.animation {
      margin-top: 10vh;
      height: 80vh; //底下自動為100vh-10vh-80vh=10vh
      //border: 5px solid red;
      //展示可以由正中間開始
      display: flex;
      justify-content: center;
      align-items: center;
      .image {
        //border: 5px solid green;
        width: 100%;
        height: 0; //從沒有高度開始展開
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(
          to right,
          rgb(255, 255, 255),
          rgb(127, 16, 132)
        );
        z-index: -1; //slider放在image之下當背景
      }
    }
  }
  header {
    //border: 5px solid red;
    background-color: rgb(181, 181, 182);
    nav {
      box-shadow: 0 8px 6px -6px black;
      ul {
        display: flex;
        list-style-type: none;
        li {
          padding: 1rem;
          a {
            text-decoration: none;
            color: white;
            font-size: 1.15rem;
            transition: all 0.3 ease;
            &:hover {
              color: lightgoldenrodyellow;
            }
          }
        }
      }
    }
  }
  main {
    section.GPA {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      h1 {
        font-size: 2rem;
        color: white;
      }
      form {
        div.input {
          select {
            border-radius: 0.25rem;
            font-size: 1.25rem;
            border: 0.25px solid black;
            padding: 0.5rem;
            margin: 0.5rem;
          }
          button {
            border: none;
            cursor: pointer;
            background-color: rgb(127, 16, 132);
            i {
              font-size: 1.5rem;
              pointer-events: none;
              color: white;
            }
          }
        }
      }
      button.plus {
        margin: 5vh 0vh;
        background-color: rgb(127, 16, 132);
        border: none;
        cursor: pointer;
        i {
          font-size: 2.5rem;
          color: white;
        }
      }
      div.result {
        //margin-top: 10vh;
        width: 30vh;
        height: 30vh;
        border: 3px solid red;
        border-radius: 50%;
        text-align: center;
        animation: border_color 10s infinite;

        p {
          margin-top: 10vh;
          color: white;
        }
        h2 {
          color: white;
          font-size: 3.5rem;
          font-weight: bold;
        }
      }
    }
  }
}
@keyframes border_color {
  0% {
    border-color: lightpink;
  }
  15% {
    border-color: lightsalmon;
  }
  30% {
    border-color: lightgoldenrodyellow;
  }
  45% {
    border-color: lightgreen;
  }
  60% {
    border-color: lightblue;
  }
  75% {
    border-color: #5959f7;
  }
  90% {
    border-color: rgb(133, 97, 133);
  }
}
//放大動畫
@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
//縮小動畫
@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@media screen and (max-width: 700px) {
  body {
    section.wrapper {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: white;
      section.animation {
        margin-top: 30vh;
        height: 40vh; //底下自動為100vh-10vh-80vh=10vh
        //border: 5px solid red;
        //展示可以由正中間開始
        .image {
          //border: 5px solid green;
          width: 100%;
          height: 0; //從沒有高度開始展開
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .slider {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background: linear-gradient(
            to right,
            rgb(255, 255, 255),
            rgb(127, 16, 132)
          );
          z-index: -1; //slider放在image之下當背景
        }
      }
    }
  }
}
