* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header section.top {
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body header section.top div.left {
  justify-content: center;
}
body header section.top div.right {
  margin-left: 5rem;
}
body header section.top div.right h1 {
  font-size: 2rem;
  color: rgb(127, 16, 132);
}
body header div.nav {
  text-align: right;
}
body header div.nav a {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
body header div.nav a:hover {
  color: rgb(127, 16, 132);
}
body header nav {
  width: 100%;
  background-color: rgb(127, 16, 132);
}
body header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
body header nav ul li {
  padding: 0.5rem;
  position: relative;
  transition: all 0.3s ease;
}
body header nav ul li:hover {
  background-color: rgb(191, 64, 191);
}
body header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
body header nav ul li .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(63, 0, 85);
  min-width: 25vw;
  z-index: 10;
}
body header nav ul li .dropdown li {
  padding: 0.5rem;
}
body header nav ul li .dropdown li a {
  text-decoration: none;
  color: white;
}
body header nav ul li:hover .dropdown {
  display: block;
}
body main section.skill {
  min-height: 55vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
body main section.skill div.function,
body main section.skill div.css,
body main section.skill div.html {
  border-radius: 15px;
  border: 1px solid rgb(127, 16, 132);
  margin: 1rem;
}
body main section.skill div.function h3,
body main section.skill div.css h3,
body main section.skill div.html h3 {
  text-align: center;
}
body main section.skill div.function img,
body main section.skill div.css img,
body main section.skill div.html img {
  height: 20vh;
}
body main div.motivation {
  display: flex;
  min-height: 60vh;
  padding: 1rem;
  align-items: center;
}
body main div.motivation div.design p {
  margin: 1rem;
}
body main div.aboutme {
  min-height: 50vh;
  padding: 2rem;
}
body main div.aboutme a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 1.5rem;
}
body main div.aboutme a:hover {
  color: rgb(127, 16, 132);
}
body main div.tabs button {
  font-weight: bold;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 15px;
  border: 2px solid rgb(127, 16, 132);
  background-color: white;
  color: rgb(127, 16, 132);
  transition: all 0.3s ease;
  cursor: pointer;
}
body main div.tabs button:hover {
  background-color: rgb(127, 16, 132);
  color: white;
}
body main div.tabs button.active {
  background-color: rgb(127, 16, 132);
  color: white;
}
body main div.tab-content .content {
  display: none;
  padding: 1rem;
  min-height: 60vh;
}
body main div.tab-content .content.active {
  display: block;
}
body main div.tab-content .content table {
  border-collapse: collapse;
}
body main div.tab-content .content table th,
body main div.tab-content .content table tr,
body main div.tab-content .content table td {
  border: 1px solid black;
  text-align: center;
}
body main div.tab-content .content table th .nocenter,
body main div.tab-content .content table tr .nocenter,
body main div.tab-content .content table td .nocenter {
  text-align: left;
}
body main div.tab-content .content div.work1 {
  padding-bottom: 1rem;
}
body main div.tab-content .content div.work2 {
  padding-bottom: 1rem;
}
body main div.tab-content .content div.work3 {
  padding-bottom: 1rem;
}
body main div.breadcrumb {
  margin-top: 1rem;
  width: 50vh;
  background-color: rgb(237, 234, 234);
}
body main div.breadcrumb a {
  padding: 0.5rem;
  color: black;
  text-decoration: none;
}
body main div.breadcrumb a:hover {
  color: rgb(127, 16, 132);
}
body main section.info {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}
body main section.info div.info {
  padding: 1rem 0rem;
}
body main section.info div.info div.pic img {
  border-radius: 8px;
  border: 1px solid black;
  height: 30vh;
  width: 25vh;
}
body main section.info div.info div.kao p {
  padding-bottom: 0.5rem;
}
body main section.info div.info div.kao div.nctu {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
body main section.info div.info div.kao div.nctu img {
  height: 2rem;
  width: 2rem;
}
body main section.info div.info div.kao div.nthu {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}
body main section.info div.info div.kao div.nthu img {
  height: 2rem;
  width: 2rem;
}
body main section.background-img {
  min-height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  transition: all 0.5s ease;
  position: relative;
  z-index: 0;
  background-image: url("../img/4.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.background-img div.filter {
  min-height: 80vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
body footer {
  background-color: rgb(181, 181, 182);
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
}
body footer h3 {
  font-size: 0.8rem;
}
body footer section.left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body footer section.left img {
  height: 10vh;
  width: 10vh;
}
body footer section.left div.location {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
body footer section.left div.location img {
  width: 3vh;
  height: 3vh;
}
body footer section.left div.location h3 {
  color: rgb(127, 16, 132);
}
body footer section.left div.number {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
body footer section.left div.number img {
  width: 3vh;
  height: 3vh;
}
body footer section.left div.number h3 {
  color: rgb(127, 16, 132);
}
body footer section.left div.tax {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
body footer section.left div.tax img {
  width: 3vh;
  height: 3vh;
}
body footer section.left div.tax h3 {
  color: rgb(127, 16, 132);
}
body footer div.googlemap iframe {
  padding: 0rem 0.5rem;
  width: 100vh;
  height: 20vh;
}
body footer section.right {
  padding: 0rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer section.right div.line {
  padding-left: 1rem;
}
body footer section.right div.line img {
  width: 5vh;
  height: 5vh;
}
body footer section.right div.fb {
  padding-left: 1rem;
}
body footer section.right div.fb img {
  width: 5vh;
  height: 5vh;
}
body footer section.right div.ig {
  padding-left: 1rem;
}
body footer section.right div.ig img {
  width: 5vh;
  height: 5vh;
}
body footer section.right div.lk {
  padding-left: 1rem;
}
body footer section.right div.lk img {
  width: 5vh;
  height: 5vh;
}
body footer section.right h3 {
  color: rgb(127, 16, 132);
}

@media screen and (max-width: 1200px) {
  body header section.top {
    align-items: center;
    justify-content: center;
  }
  body header section.top div.left img {
    width: 30vh;
  }
  body header section.top div.right {
    margin-left: 0rem;
  }
  body header section.top div.right h1 {
    font-size: 1rem;
  }
  body header div.nav a {
    font-size: 0.8rem;
  }
  body main div.breadcrumb {
    width: 40vh;
  }
  body footer {
    display: block;
    align-items: center;
    justify-content: center;
  }
  body footer h3 {
    font-size: 0.8rem;
  }
  body footer section.left div.content img {
    width: 1.5vh;
    height: 1.5vh;
  }
  body footer section.left img {
    width: 7vh;
    height: 7vh;
  }
  body footer div.googlemap {
    text-align: center;
  }
  body footer div.googlemap iframe {
    width: 40vh;
    padding: 0.5rem 0rem;
  }
}/*# sourceMappingURL=style.css.map */