* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  header {
    section.top {
      padding-left: 1rem;
      padding-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center; // 垂直居中對齊
      div.left {
        justify-content: center;
        //border: 3px solid blue;
      }
      div.right {
        //border: 3px solid red;
        margin-left: 5rem;
        h1 {
          //border: 3px solid red;
          font-size: 2rem;

          color: rgb(127, 16, 132);
        }
      }
    }
    div.nav {
      text-align: right;
      a {
        padding: 0.5rem;
        text-decoration: none;
        color: black;
        font-weight: bold;
        &:hover {
          color: rgb(127, 16, 132);
        }
      }
    }
    nav {
      width: 100%;
      background-color: rgb(127, 16, 132); // 導覽列背景顏色

      ul {
        display: flex; // 橫向排列
        list-style-type: none; // 消除 ul 的黑點
        justify-content: space-around; // 平均分攤選項

        li {
          padding: 0.5rem;
          position: relative; // 用於定位下拉選單
          transition: all 0.3s ease; //動畫延遲0.3秒
          &:hover {
            background-color: rgb(191, 64, 191); // 更亮的紫色背景
          }
          a {
            text-decoration: none; // 移除超連結底線
            color: white; // 導覽列字體顏色
            font-weight: bold; // 字體加粗
          }

          .dropdown {
            display: none; // 預設隱藏
            position: absolute;
            top: 100%; // 下拉選單與主選項對齊
            left: 0; //
            background-color: rgb(63, 0, 85); // 深紫色背景

            min-width: 20vw; // 下拉選單寬度
            z-index: 10; // 確保下拉選單顯示在前

            li {
              padding: 0.5rem;

              a {
                text-decoration: none; // 移除底線
                color: white; // 下拉選單文字顏色
              }
            }
          }

          // 顯示下拉選單
          &:hover .dropdown {
            display: block;
          }
        }
      }
    }
  }
  main {
    section.skill {
      min-height: 55vh;
      //border: 3px solid blue;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1rem;
      div.function,
      div.css,
      div.html {
        border-radius: 15px;
        border: 1px solid rgb(127, 16, 132);
        //padding: 1rem 1rem;
        margin: 1rem;
        h3 {
          text-align: center;
        }
        img {
          height: 20vh;
        }
      }
    }

    div.motivation {
      display: flex;
      //border: 3px solid red;
      min-height: 55vh;
      padding: 1rem;
      align-items: center;
      div.design {
        //border: 3px solid blue;
        p {
          margin: 1rem;
        }
      }
    }
    div.aboutme {
      min-height: 50vh;
      padding: 2rem;
      a {
        text-decoration: none;
        display: block;
        color: black;
        font-size: 1.5rem;
        &:hover {
          color: rgb(127, 16, 132);
        }
      }
    }
    div.tabs {
      button {
        font-weight: bold;
        margin: 1rem;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 15px; //邊框圓化
        border: 2px solid rgb(127, 16, 132);
        background-color: white;
        color: rgb(127, 16, 132);
        transition: all 0.3s ease;
        cursor: pointer; //滑鼠只錶變成手掌
        &:hover {
          background-color: rgb(127, 16, 132);
          color: white;
        }
        &.active {
          background-color: rgb(127, 16, 132);
          color: white;
        }
      }
    }
    div.tab-content {
      .content {
        display: none;
        padding: 1rem;
        min-height: 50vh;
        &.active {
          display: block; // 只有 .active 的內容被顯示
        }
        table {
          border-collapse: collapse;
          th,
          tr,
          td {
            border: 1px solid black;
            text-align: center;
            .nocenter {
              text-align: left;
            }
          }
        }
        div.work1 {
          padding-bottom: 1rem;
        }
        div.work2 {
          padding-bottom: 1rem;
        }
        div.work3 {
          padding-bottom: 1rem;
        }
      }
    }
    div.breadcrumb {
      //border: 3px solid blue;
      margin-top: 1rem;
      width: 50vh;

      background-color: rgb(237, 234, 234);
      //justify-content: center;
      //text-align: left;
      a {
        padding: 0.5rem;
        color: black;
        text-decoration: none;
        &:hover {
          color: rgb(127, 16, 132);
        }
      }
    }
    section.info {
      //border: 3px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      div.info {
        padding: 1rem 0rem;
        div.pic {
          img {
            border-radius: 8px;
            border: 1px solid black;
            height: 30vh;
            width: 25vh;
          }
        }

        div.kao {
          p {
            padding-bottom: 0.5rem;
          }
          div.nctu {
            padding-bottom: 0.5rem;
            display: flex;
            align-items: center;
            img {
              height: 2rem;
              width: 2rem;
            }
          }
          div.nthu {
            display: flex;
            align-items: center;
            padding-bottom: 0.5rem;
            img {
              height: 2rem;
              width: 2rem;
            }
          }
        }
      }
    }

    section.background-img {
      min-height: 80vh;
      width: 100%;
      background-size: cover; //讓圖片可以放大撐滿頁面
      background-position: bottom; //從圖片底部開始進行cover
      transition: all 0.5s ease;
      position: relative;
      z-index: 0;
      background-image: url("../img/4.jpg");
      display: flex;
      justify-content: center;
      align-items: center;
      div.filter {
        min-height: 80vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0; // 確保從頂部開始覆蓋
        left: 0; // 確保從左側開始覆蓋
        z-index: 1; // 確保位於背景圖片之上
        pointer-events: none; // 禁止用戶與此層交互
      }
    }
  }
  footer {
    background-color: rgb(181, 181, 182);
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 0.8rem;
    }
    section.left {
      //padding: 0rem 0.5rem;
      //border: 3px solid red;
      display: flex;
      flex-wrap: wrap;
      //justify-content: center;

      align-items: center;
      justify-content: center;
      img {
        height: 10vh;
        width: 10vh;
      }
      div.location {
        padding-left: 1rem;
        display: flex;
        align-items: center;
        img {
          width: 3vh;
          height: 3vh;
        }
        h3 {
          color: rgb(127, 16, 132);
        }
      }
      div.number {
        padding-left: 1rem;
        display: flex;
        align-items: center;
        img {
          width: 3vh;
          height: 3vh;
        }
        h3 {
          color: rgb(127, 16, 132);
        }
      }
      div.tax {
        padding-left: 1rem;
        display: flex;
        align-items: center;
        img {
          width: 3vh;
          height: 3vh;
        }
        h3 {
          color: rgb(127, 16, 132);
        }
      }
      iframe {
        padding: 0rem 0.5rem;
        width: 100vh;
        height: 20vh;
      }
    }
    section.right {
      //border: 3px solid blue;
      padding: 0rem 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      div.line {
        padding-left: 1rem;
        img {
          width: 5vh;
          height: 5vh;
        }
      }
      div.fb {
        padding-left: 1rem;
        img {
          width: 5vh;
          height: 5vh;
        }
      }
      div.ig {
        padding-left: 1rem;
        img {
          width: 5vh;
          height: 5vh;
        }
      }
      div.lk {
        padding-left: 1rem;
        img {
          width: 5vh;
          height: 5vh;
        }
      }
      h3 {
        color: rgb(127, 16, 132);
      }
    }
  }
}
@media screen and (max-width: 700px) {
  body {
    header {
      section.top {
        align-items: center;
        justify-content: center;
        div.left {
          img {
            width: 30vh;
          }
        }
        div.right {
          margin-left: 0rem;
          h1 {
            font-size: 1rem;
          }
        }
      }
      div.nav {
        a {
          font-size: 0.8rem;
        }
      }
    }
    footer {
      align-items: center;
      justify-content: center;
      h3 {
        font-size: 0.8rem;
      }
      section.left {
        iframe {
          width: 40vh;
          padding: 0.5rem 0rem;
        }
      }
    }
  }
}
